

/* Navbar */
.navbar-brand {
    font: 32px Viga;
}


/* Jumbotron */
.jumbotron {
    background: url(../img/banner.jpg);
    background-size: cover;
    height: 540px;
    position: relative;
    z-index: -1;
}

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: 0;
}

.jumbotron .container {
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.jumbotron .display-4 {
    font-weight: 200;
    font-size: 2.6em;
    margin-top: 100px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jumbotron .display-4 span {
    font-weight: 500;
}



/* Info Panel */
.info-panel {
    background-color: greenyellow;
    padding: 30px;
    margin-top: -120px;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}

.info-panel h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    margin-left: 20px;
    text-align: center;
}

.info-panel p {
    font-size: 14px;
    font-weight: lighter;
    color: #acacac;
    text-align: center;
}



/* Workingspace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace img {
    margin-bottom: 20px;
    border-radius: 50px;
}

.workingspace h2 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 200;
}

.workingspace h2 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #0e0d0d;
    font-weight: 200;
}


/* Testimonial */
.testimonial {
    margin-top: 200px;
}

.testimonial p {
    font-size: 1.4em;
    text-align: center;
    font-weight: 50;
    font-style: bold;
    margin-bottom: 10px;
}

.testimonial img {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    ;
}

.testimonial .info-text h5 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.testimonial .info-text p {
    font-size: 12px;
    margin-top: 5px;
    color: #acacac;
    font-style: normal;
    margin-bottom: 50px;
}



/* Utility */
.tombol {
    border-radius: 40px;
    text-transform: uppercase;
}

/* RESPONSIVE */
@media (min-width: 992px) {
    .navbar {
        padding-top: 20px;
    }
    
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        content: '';
        margin: auto;
        margin-bottom: -8px;
        width: 50%;
        padding-top: 5px;
    }


    .jumbotron {
        margin-top: -90px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 5em;
        margin-top: 150px;
    }


    .workingspace {
        text-align: left;
    }


    .testimonial p {
        font-size: 2em;
    }

}   body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/spikes.png);
}